@model WebBasedFileManager.Models.User
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.0/css/bulma.min.css">
    <title>Login - FileManager</title>
    <style>
        .section-container {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
        }

        .section-content {
            width: 45%;
            padding: 20px;
        }

        #loginText {
            font-size: 70px;
        }
    </style>
</head>
<body>
    <div class="section-container">
        <div class="section-content">
            <section class="section">
                <center>
                    <h1 class="title is-1" id="loginText">Login</h1>
                    <form asp-action="Login" method="post">
                        <div class="field">
                            <label class="label" asp-for="Username"></label>
                            <div class="control">
                                <input asp-for="Username" class="input" type="text" placeholder="Username" />
                            </div>
                            <p class="help is-danger">@Html.ValidationMessageFor(model => model.Username)</p>
                        </div>
                        <div class="field">
                            <label class="label" asp-for="Password"></label>
                            <div class="control">
                                <input asp-for="Password" type="password" class="input" placeholder="Password" />
                            </div>
                            <p class="help is-danger">@Html.ValidationMessageFor(model => model.Password)</p>
                        </div>
                        <div class="field">
                            <div class="control">
                                <button type="submit" class="button is-link">Login</button>
                            </div>
                        </div>
                        <div class="field">
                            <p>Don't have an account? <a asp-action="Register">Register here</a></p>
                        </div>
                    </form>
                </center>
            </section>
        </div>
    </div>
</body>
</html>