@{
    ViewData["Title"] = "File Manager";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.0/css/bulma.min.css">
    <title>File Manager</title>
    <style>
        .section-container {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
        }

        .section-content {
            width: 80%;
            padding: 20px;
        }

        #fileManagerText {
            font-size: 40px;
        }
    </style>
</head>
<body>
    <div class="section-container">
        <div class="section-content">
            <section class="section">
                <center>
                    <h1 class="title is-1" id="fileManagerText">Welcome to File Manager</h1>
                </center>
            </section>
        </div>
    </div>
</body>
</html>
